<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link data-th-href="@{/css/bootstap4.3.1.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/monokai-sublime.min.css" rel="stylesheet">
    <style type="text/css">
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-3">表字段信息</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>列序号</th>
                    <th>表名</th>
                    <th>列名</th>
                    <th>数据类型</th>
                    <th>列长度</th>
                    <th>列注释</th>
                    <th>属性键类型</th>
                    <th>允许为空</th>
                    <th>默认值</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column,state : ${columns}">
                    <td th:text="${column.ordinalPosition}"></td>
                    <td><span class="badge badge-success py-2" th:text="${column.tableName}"></span></td>
                    <td class="text-left font-weight-bold" th:text="${column.columnName}"></td>
                    <td th:text="${column.dataType}"></td>
                    <td th:text="${column.length}"></td>
                    <td th:text="${column.columnComment}"></td>
                    <td th:text="${column.columnKey}"></td>
                    <td th:text="${column.isNullable}"></td>
                    <td th:text="${column.columnDefault}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-dark btn-block text-success" data-toggle="modal" data-target="#codeModal"
               onclick="preview()">生成代码预览</a>
            <input type="hidden" id="previewUrl" th:value="@{/generate(tableName=${tableName})}">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Bean</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold border-primary">Dto</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Controller</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Service</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Impl</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Mapper</div>
                <div class="card-body text-center">
                    <h5 class="card-title">[(${tableName})]</h5>
                    <a href="javascript:;" class="btn btn-primary m-auto">预览</a>
                </div>
            </div>
        </div>
    </div>
    <!--模态框-->
    <div class="row">
        <div class="col">
            <!-- Modal -->
            <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" style="min-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="codeModalLabel">预览</h5>
                            <button class="btn btn-outline-success copy-btn" id="copyBtn" data-clipboard-action="copy" data-clipboard-target="code">复制</button>
                        </div>
                        <div class="modal-body bg-transparent">
                            <pre><code id="codeContainer"></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--剪切板复制-->
<script src="https://cdn.bootcss.com/clipboard.js/2.0.3/clipboard.min.js"></script>
<!--代码高亮-->
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/java.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.9/languages/xml.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/sql.min.js"></script>


<script type="text/javascript">
    // 代码高亮
    hljs.initHighlightingOnLoad();
    /**
     * 高亮显示代码
     */
    function hightLighter() {
        hljs.highlightBlock($('#codeContainer')[0]);
    }
    /**
     * 预览生成的代码
     */
    function preview() {
        $.ajax({
            url: $('#previewUrl').val(),
            method: "post",
            success: function (result) {
                $('#codeContainer').html(result);
                $('#myInput').trigger('focus')
                hightLighter();
            }
        })
    }

    $(function () {
        var clipboard = new ClipboardJS('.copy-btn', {
            text: function (e) {
                return e.content;
            }
        });
        clipboard.on('error', function (e) {
            alert("复制失败！请手动复制")
        });
    })
</script>
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/markdown.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/yaml.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/shell.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/go.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/gradle.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/bash.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/javascript.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/json.min.js"></script>-->
</body>
</html>