<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link data-th-href="@{/css/bootstap4.3.1.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/monokai-sublime.min.css" rel="stylesheet">
    <style type="text/css">
        th, td {
            text-align: center;
        }
        .letter-space-zero-5{
            letter-spacing: .5em;
        }
        input[type="text"]{
            letter-spacing: 1px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-3">表字段信息</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>列序号</th>
                    <th>表名</th>
                    <th>列名</th>
                    <th>数据类型</th>
                    <th>列长度</th>
                    <th>列注释</th>
                    <th>属性键类型</th>
                    <th>允许为空</th>
                    <th>默认值</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column,state : ${columns}">
                    <td th:text="${column.ordinalPosition}"></td>
                    <td><span class="badge badge-success py-2" th:text="${column.tableName}"></span></td>
                    <td class="text-left font-weight-bold" th:text="${column.columnName}"></td>
                    <td th:text="${column.dataType}"></td>
                    <td th:text="${column.length}"></td>
                    <td th:text="${column.columnComment}"></td>
                    <td th:text="${column.columnKey}"></td>
                    <td th:text="${column.isNullable}"></td>
                    <td th:text="${column.columnDefault}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-6">
            <button class="btn btn-info btn-block" id="configBtn" type="button" data-toggle="collapse" data-target="#configContainer" aria-expanded="false" aria-controls="collapseExample">配置基本信息</button>
        </div>
        <div class="col-6">
            <button class="btn btn-outline-danger text-warning btn-block" onclick="generateCode(this)">生成代码预览</button>
            <input type="hidden" id="previewUrl" th:value="@{/generate(tableName=${tableName})}">
            <input type="hidden" id="saveConfigUrl" th:value="@{/save}">
        </div>
        <div class="col-12 pt-3">
            <div class="collapse" id="configContainer">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text letter-space-zero-5">包名</span>
                    </div>
                    <input type="text" class="form-control col-form-label-lg font-weight-bold" name="packageName" placeholder="请输入包名字">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text letter-space-zero-5">作者</span>
                    </div>
                    <input type="text" class="form-control font-weight-bold col-form-label-lg" name="author" placeholder="请输入作者">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text letter-space-zero-5">版本</span>
                    </div>
                    <input type="text" class="form-control font-weight-bold col-form-label-lg" name="version" placeholder="请输入版本">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text letter-space-zero-5">输出目录</span>
                    </div>
                    <input type="text" class="form-control font-weight-bold col-form-label-lg" name="outputDir" placeholder="请输入输出目录文件夹">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">表前缀</span>
                    </div>
                    <input type="text" class="form-control font-weight-bold col-form-label-lg" name="tablePrefix" placeholder="请输入表前缀，使用 + 逗号分隔">
                </div>
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">实体后缀</span>
                    </div>
                    <input type="text" class="form-control font-weight-bold col-form-label-lg" name="entitySuffix" placeholder="请输入实体后缀">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">开启Lombok</span>
                    </div>
                    <select class="form-control font-weight-bold col-form-label-lg" name="lombokFlag">
                        <option value="true" selected>开启</option>
                        <option value="false">关闭</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                   <button class="btn btn-block btn-success" onclick="confirmSetConfig()">保存配置</button>
                </div>
            </div>
        </div>
    </div>
    <div id="previewContainer"></div>
    <!--模态框-->
    <div class="row">
        <div class="col">
            <!-- Modal -->
            <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" style="min-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="codeModalLabel">预览</h5>
                            <button class="btn btn-outline-success copy-btn" id="copyBtn" data-clipboard-action="copy"
                                    data-clipboard-target="code">复制
                            </button>
                        </div>
                        <div class="modal-body bg-transparent">
                            <pre><code id="codeContainer"></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--剪切板复制-->
<script src="https://cdn.bootcss.com/clipboard.js/2.0.3/clipboard.min.js"></script>
<!--代码高亮-->
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/java.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.9/languages/xml.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/sql.min.js"></script>


<script type="text/javascript" th:inline="javascript">
    $(function () {
        // 代码高亮
        hljs.initHighlightingOnLoad();
    });
    // 初始化配置
    function initConfig(){
        let configObj = localStorage.getItem('generatorConfig');
        if (configObj) {
            configObj=JSON.parse(configObj);
            $.each(configObj,function(k,v){
                $('input[name="' + k + '"]').val(v);
            })
        }
    }
    initConfig();

    function checkConfig(){
        const configFrms = $('#configContainer').find('input[type="text"]');
        let checkFlag = $.each(configFrms,function (idx, ele) {
            if(!$(ele)){
                return false;
            }
        });
        if (!checkFlag) {
            alert('配置信息填写不完全');
        }
    }

    function confirmSetConfig(){
        checkConfig();
        const configFrms = $('#configContainer').find('input[type="text"]');
        var params = {};
        $.each(configFrms,function (idx, ele) {
            let value = $(ele).val();
            let name = $(ele).attr('name');
            params[name] = value;
        });
        localStorage.setItem("generatorConfig", JSON.stringify(params));
        $.ajax({
            url: $('#saveConfigUrl').val(),
            method: "post",
            data: params,
            success: function (result) {
                if(!result){
                    $('#configBtn').click()
                    alert('配置添加成功');
                    return;
                }
                alert(result);
            }
        })
    }

    var previewObj = {
        'bean': '',
        'jpa': '',
        'repository': '',
        'mapper': '',
        'service': '',
        'serviceImpl': '',
        'repositoryImpl': '',
        'controller': '',
        'dto': '',
        'mapperXml': ''
    };

    let temp = `<div class="col-2"> <div class="card"> <div class="card-header text-center font-weight-bold">{{0}}</div> <div class="card-body text-center"> <button onclick="preview('{{0}}')" class="btn btn-primary m-auto">预览</button> </div> </div></div>`
    function generatePreviewBtn(){
        checkConfig();
        const rowPrefix  = `<div class="row my-5">`
        const rowSuffix = `</div>`
        var result = '';
        Object.keys(previewObj).forEach((value, index) => {
            let obj = temp.replace("{{0}}", value);
            obj = obj.replace("{{0}}", value);
            if (index === 0) {
                obj = rowPrefix + obj;
            }
            if (index !== 0 && index % 6 === 0) {
                obj = rowSuffix + rowPrefix + obj;
            }
            result += obj;
        });
        $('#previewContainer').html(result);
    }
    generatePreviewBtn()

    /**
     * 高亮显示代码
     */
    function hightLighter() {
        hljs.highlightBlock($('#codeContainer')[0]);
    }

    /**
     * 生成代码
     */
    function generateCode(me) {
        var that = $(me);
        $.ajax({
            url: $('#previewUrl').val(),
            method: "post",
            success: function (result) {
                previewObj['bean'] = result['bean'];
                previewObj['jpa'] = result['jpa'];
                previewObj['repository'] = result['repository'];
                previewObj['mapper'] = result['mapper'];
                previewObj['service'] = result['service'];
                previewObj['serviceImpl'] = result['serviceImpl'];
                previewObj['repositoryImpl'] = result['repositoryImpl'];
                previewObj['controller'] = result['controller'];
                previewObj['dto'] = result['dto'];
                previewObj['mapperXml'] = result['mapperXml'];
                that.removeClass("btn-outline-danger");
                that.removeClass("text-danger");
                that.addClass("bg-success");
                that.addClass("text-white");
                that.text('重新生成');
            }
        });
    }

    /**
     * 预览生成的代码
     */
    function preview(type) {
        // 获取显示的code
        var previewCode = previewObj[type];
        if (!previewCode) {
            alert('数据初始化失败，请重新生成代码');
            return;
        }
        // 赋值
        $('#codeContainer').html(escapeHtml(previewCode));
        $('#codeModal').modal('toggle');
        hightLighter();
    }

    $(function () {
        var clipboard = new ClipboardJS('.copy-btn', {
            text: function (e) {
                return e.content;
            }
        });
        clipboard.on('error', function (e) {
            alert("复制失败！请手动复制")
        });
    });

    /**
     * 特殊字符转义
     */
    function escapeHtml(srcString) {
        // 转义之后的结果
        var escapseResult = srcString;
        // javascript正则表达式中的特殊字符
        var jsSpecialChars = ["\\", "^", "$", "*", "?", ".", "+", "(", ")", "[",
            "]", "|", "{", "}"];
        // jquery中的特殊字符,不是正则表达式中的特殊字符
        // var jquerySpecialChars = ["~", "`", "@", "#", "%", "&", "=", "'", "\"", ":", ";", "<", ">", ",", "/"];
        var jquerySpecialChars = ["<", ">"];
        for (var i = 0; i < jquerySpecialChars.length; i++) {
            // escapseResult = escapseResult.replace(new RegExp(jquerySpecialChars[i], "g"), "\\" + jquerySpecialChars[i]);
            escapseResult = escapseResult.replace(new RegExp('>', "g"),'&gt;');
            escapseResult = escapseResult.replace(new RegExp('<', "g"), '&lt;');
        }
        return escapseResult;
    }
</script>
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/markdown.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/yaml.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/shell.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/go.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/gradle.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/bash.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/javascript.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/json.min.js"></script>-->
</body>
</html>